body { 
    width: 100wh; 
    height: 90vh; 
    color: #fff; 
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); 
    background-size: 400% 400%; 
    -webkit-animation: Gradient 15s ease infinite; 
    -moz-animation: Gradient 15s ease infinite; 
    animation: Gradient 15s ease infinite; 
    } 
    
    @-webkit-keyframes Gradient { 
    0% { 
    background-position: 0% 50% 
    } 
    50% { 
    background-position: 100% 50% 
    } 
    100% { 
    background-position: 0% 50% 
    } 
    } 
    
    @-moz-keyframes Gradient { 
    0% { 
    background-position: 0% 50% 
    } 
    50% { 
    background-position: 100% 50% 
    } 
    100% { 
    background-position: 0% 50% 
    } 
    } 
    
    @keyframes Gradient { 
    0% { 
    background-position: 0% 50% 
    } 
    50% { 
    background-position: 100% 50% 
    } 
    100% { 
    background-position: 0% 50% 
    } 
    }
html{
    font-size: 16px;
}
/* body{ */
    /* background-color: rgb(0, 0, 0); */
/* } */

.container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    min-width: 300px;
}
h1{
    color: white;
    text-align: center;
    font-size: 4rem;
}

h2{
    color: white;
    text-align: center;
    font-size: 2rem;
}

.sample{
    display: flex;
    margin-top: 1rem;
}
.input-text{
    border: 2px solid rgb(100,100,100);
    border-radius: 6px;
    outline: none;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: rgb(17, 167, 194);
    width: 100%;
}
.input-text:hover{
    border-color: rgb(150,150,150);
}
.match{
    color: white;
    width: 7rem;
    margin-left: 10px;
    white-space:nowrap;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    height: 2rem;
}